﻿@section scripts{
    <script src="/Scripts/tiltakshaver.js"></script>
}
<script type="text/x-template" id="erklaering-template">
    <div>
        <h1 class="wizard-schema-title">Gi ditt samtykke</h1>
        <div v-if="samtykkeTiltakshaver">
            <div class="wizard-schema-section">
                <div class="margin-bottom">
                    <p><b>Navn på ansvarlig søker:</b> {{ samtykkeTiltakshaver.AnsvarligSoeker }}</p>
                    <p><b>Navn på tiltakshaver:</b> {{ samtykkeTiltakshaver.Tiltakshaver }}</p>
                    <p><b>Tiltakstype:</b> {{getTiltakstype()}}</p>
                    <p><b>Adresse:</b> {{getByggestedAdresse()}}</p>
                </div>
             </div>
             <div class="wizard-schema-section">
                <b>Søknad med vedlegg</b>
                <p>Forsikre deg om at du leser alle dokumentene</p>

                <div v-if="getSoknader() && getSoknader().length" class="block-list">
                    <div v-for="soknad in getSoknader()" class="list-item">
                        <span class="title" v-if="soknad.Vedleggstype">{{soknad.Vedleggstype}}</span>
                        <span class="info-primary" v-if="soknad.Navn"><a v-bind:href="getVedleggUrl(soknad)">{{soknad.Navn}}</a></span>
                        <span class="info-secondary"v-if="soknad.Storrelse">{{formatFilesize(soknad.Storrelse)}}</span>
                    </div>
                </div>
                <div v-if="getVedlegg() && getVedlegg().length" class="block-list">
                    <div v-for="vedlegg in getVedlegg()" class="list-item">
                        <span class="title" v-if="vedlegg.Vedleggstype">{{vedlegg.Vedleggstype}}</span>
                        <span class="title" v-if="vedlegg.Vedleggstype"><a v-bind:href="getVedleggUrl(vedlegg)">{{vedlegg.Navn}}</a></span>
                        <span class="info-secondary">{{formatFilesize(vedlegg.Storrelse)}}</span>
                    </div>
                </div>

                <div class="modal" v-if="attachmentsStatus && showAttachmentsStatusModal">
                    <div class="modal-content">
                        <div class="modal-header">
                            Laster opp vedlegg
                        </div>
                        <div class="block-list">
                            <div v-for="attachmentStatus in attachmentsStatus" class="list-item" v-bind:class="{'has-errors': attachmentStatus.errors.length}">
                                <div v-bind:style="'width:' + (attachmentStatus.downloadProgress + attachmentStatus.uploadProgress) / 2 + '%;'" class="progress-bar" v-bind:class="{finished: (attachmentStatus.downloadProgress + attachmentStatus.uploadProgress) / 2 === 100}">
                                    {{attachmentStatus.attachment.Navn}}
                                </div>
                                <div v-if="attachmentStatus.errors.length" class="error-message">
                                    <div v-for="error in attachmentStatus.errors">
                                        <span>{{ error }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="wizard-schema-section">
                <span><p><b>Som tiltakshaver har du</b></p></span>
                <ul>
                    <li>Hovedansvaret for det som skal bygges.</li>
                    <li>Ansvar for å finne en ny ansvarlig søker hvis den du har ikke lenger skal ha ansvaret for byggesøknaden din.</li>
                    <li>Ansvar for å betale byggesaksgebyr til kommunen.</li>
                    <li>Ansvar for å iverksette uavhengig kontroll dersom dette kreves.</li>
                </ul>
                <div class="block block--in-group">
                    <label for="agree" class="margin-bottom" style="display:table;">
                        <input id="agree" type="checkbox" value="agree" v-bind:checked="checkedSamtykke" v-on:change="toggleCheckedSamtykke()" style="display: table-cell;" />
                        <span style="display: table-cell; padding-left: 10px;">
                            Jeg har lest byggesøknaden med vedlegg, og samtykker til at ansvarlig søker kan sende byggesøknaden videre til kommunen for saksbehandling.
                        </span>
                    </label>
                    <p>
                        Når du trykker SEND SAMTYKKE, signeres ditt samtykke til byggeplanene, og sendes ansvarlig søker.
                        Dersom du signerer som privatperson, blir fødselsnummeret ditt også brukt i kommunens saksbehandlingssystem.
                        Les mer om hvordan vi behandler personopplysningene dine <span class="clickable-text" v-on:click="showAgreementDetails = !showAgreementDetails">her</span>.
                    </p>
                    <div v-show="showAgreementDetails" class="expandable-content">
                        <p><b>Behandling av personopplysninger i løsningen</b></p>
                        <p>
                            Når du signerer samtykket og sender det til ansvarlig søker, henter Direktoratet for byggkvalitet (DiBK) fødselsnummeret ditt. Fødselsnummeret vises ikke til ansvarlig søker, men brukes i DiBKs system for å verifisere identiteten og signaturen din.
                        </p>
                        <p>
                            Når ansvarlig søker sender byggesøknaden til kommunen, får kommunen ditt signerte samtykke. Kommunens fagsystem vil da også motta fødselsnummeret ditt. Fødselsnummeret brukes til kommunikasjon om byggesaken, herunder gebyrinnkreving, og skjer i samsvar med eForvaltningsforskriften §§ 8 og 9.
                        </p>
                    </div>
                    <button v-on:click="postMessage()" :disabled="!checkedSamtykke" class="linkbutton wizard-navigation-button">
                        <span style="padding: 0 60px; font-size: 16px;">Send samtykke</span>
                    </button>
                </div>
            </div>
            <div class="wizard-navigation-buttons">
                <button v-on:click="clickPrevious()"
                        class="linkbutton wizard-navigation-button button-arrow-left">
                    Tilbake
                </button>
            </div>
        </div>
    </div>
</script>

<script>
    var Erklaering = {
        name: 'Erklaering',
        template: '#erklaering-template',
        props: ['appSettings', 'guid', 'selectedReportee', 'serviceCode', 'serviceCodeEdition', 'checkedSamtykke'],
        data: function () {
            return {
                samtykkeTiltakshaver: null,
                tiltakshaverSignatur: null,
                messageId: null,
                attachmentsStatus: [],
                attachmentsHasError: false,
                showAttachmentsStatusModal: false,
                showAgreementDetails: false
            };
        },
        mounted: function () {
            if (!this.selectedReportee) {
                this.$emit('select-step', '1');
            }
            this.getSamtykkeTiltakshaver();
            this.getTiltakshaverSignatur();
        },
        methods: {
            allAttachmentsIsAttemptedUploaded: function () {
                var numberOfAttachments = this.samtykkeTiltakshaver.Vedlegg ? this.samtykkeTiltakshaver.Vedlegg.length : 0;
                return this.attachmentsStatus.filter(function (attachmentStatus) {
                    return attachmentStatus.isUploaded || attachmentStatus.errors.length;
                }).length === numberOfAttachments;
            },
            convertFilesizeToLargerUnit: function (fileSizeInfo) {
                if (fileSizeInfo.filesize >= 1024) {
                    fileSizeInfo.unitIndex += 1;
                    fileSizeInfo.filesize = fileSizeInfo.filesize / 1024;
                    this.convertFilesizeToLargerUnit(fileSizeInfo);
                }
                return fileSizeInfo;
            },
            formatFilesize: function (filesize) {
                var fileSizeInfo = this.convertFilesizeToLargerUnit({
                    unitIndex: 0,
                    filesize: filesize
                });
                var units = ["B", "kB", "MB", "GB", "TB"];
                var roundedFilesize = Math.round(fileSizeInfo.filesize * 100) / 100;
                var selectedUnit = units[fileSizeInfo.unitIndex];
                return roundedFilesize + " " + selectedUnit;
            },
            getSamtykkeTiltakshaver: function () {
                if (this.guid) {
                    $.ajax({
                        url: '/api/internal/samtykketiltakshaver/' + this.guid,
                        success: function (data, status, jqHxr) {
                            this.samtykkeTiltakshaver = data;
                            if (data.Vedlegg && data.Vedlegg.length) {
                                data.Vedlegg.forEach(function (vedlegg) {
                                    this.attachmentsStatus.push(
                                        {
                                            attachment: vedlegg,
                                            downloadProgress: 0,
                                            uploadProgress: 0,
                                            isUploaded: false,
                                            errors: []
                                        }
                                    );
                                }.bind(this));
                            }
                        }.bind(this),
                        error: function (jqHxr, textStatus, errorThrown) {
                            console.log(jqHxr);
                        }.bind(this)
                    });
                }
            },
            getTiltakshaverSignatur: function () {
                if (this.guid) {
                    $.ajax({
                        url: '/api/internal/TiltakshaverSignatur/' + this.guid,
                        success: function (data, status, jqHxr) {
                            this.tiltakshaverSignatur = data;
                        }.bind(this),
                        error: function (jqHxr, textStatus, errorThrown) {
                            console.log(jqHxr);
                        }.bind(this)
                    });
                }
            },
            getVedlegg: function () {
                if (this.samtykkeTiltakshaver && this.samtykkeTiltakshaver.Vedlegg && this.samtykkeTiltakshaver.Vedlegg.length) {
                    return this.samtykkeTiltakshaver.Vedlegg.filter(function (vedlegg) {
                        return vedlegg.Vedleggstype !== 'Soknad';
                    });
                } else {
                    return null;
                }
            },
            getVedleggUrl: function (vedlegg) {
                return '/api/internal/DownloadVedlegg/' + this.guid.toLowerCase() + '/' + vedlegg.Navn;
            },
            getSoknader: function () {
                if (this.samtykkeTiltakshaver && this.samtykkeTiltakshaver.Vedlegg && this.samtykkeTiltakshaver.Vedlegg.length) {
                    return this.samtykkeTiltakshaver.Vedlegg.filter(function (vedlegg) {
                        return vedlegg.Vedleggstype === 'Soknad';
                    });
                } else {
                    return null;
                }
            },
            getMatrikkelNummer(byggested) {
                // Add kommunenr, gardsnr & bruksnr
                var matrikkelNummer = byggested.Kommunenr + '-' + byggested.Gardsnr + '/' + byggested.Bruksnr;
                var festenrIsBlank = !byggested.Festenr || byggested.Festenr == '0' || byggested.Festenr == '';
                var seksjonsnrIsBlank = !byggested.Seksjonsnr || byggested.Seksjonsnr == '0' || byggested.Seksjonsnr == '';

                // Add festenr
                if (!festenrIsBlank) {
                    matrikkelNummer += '/' + byggested.Festenr;
                } else if (!seksjonsnrIsBlank) {
                    matrikkelNummer += '/0';
                }

                // Add seksjonsnr
                if (!seksjonsnrIsBlank) {
                    matrikkelNummer += '/' + byggested.Seksjonsnr;
                }
                return matrikkelNummer;
            },
            getByggestedAdresse() {
                const byggested = this.samtykkeTiltakshaver && this.samtykkeTiltakshaver.Byggested && this.samtykkeTiltakshaver.Byggested.length ? this.samtykkeTiltakshaver.Byggested[0] : null;
                if (byggested) {
                    const addressStringPart = byggested.Adresselinje1 ? `${byggested.Adresselinje1}, ` : '';
                    const zipCodeStringPart = byggested.Postnr ? `${byggested.Postnr} ` : '';
                    const placeStringPart = byggested.Poststed || '';

                    return addressStringPart + zipCodeStringPart + placeStringPart;
                } else {
                    return null;
                }
            },
            getTiltakstype() {
                const tiltakstype = this.samtykkeTiltakshaver && this.samtykkeTiltakshaver.TiltakType && this.samtykkeTiltakshaver.TiltakType.length ? this.samtykkeTiltakshaver.TiltakType[0] : null;
                return tiltakstype && tiltakstype.kodebeskrivelse ? tiltakstype.kodebeskrivelse : '';
            },
            getSelectedReporteeId: function () {
                var selectedReporteeId = null;
                if (this.selectedReportee) {
                    if (this.selectedReportee.OrganizationNumber) {
                        selectedReporteeId = this.selectedReportee.OrganizationNumber;
                    } else if (this.selectedReportee.SocialSecurityNumber) {
                        selectedReporteeId = this.selectedReportee.SocialSecurityNumber;
                    } else if (this.selectedReportee.ReporteeId) {
                        selectedReporteeId = this.selectedReportee.ReporteeId;
                    }
                }
                return selectedReporteeId;
            },
            uploadAttachment: function (vedlegg, data, vedleggIndex) {
                var postUrl = this.messageId && this.messageId !== ""
                    ? this.messageId
                    : null;

                if (postUrl) {
                    postUrl += '/attachments/streamedattachment?filename=' + vedlegg.Navn + "&attachmenttype=" + vedlegg.Vedleggstype;
                    $.ajax({
                        type: "POST",
                        url: postUrl,
                        cache: false,
                        processData: false,
                        headers: {
                            'ApiKey': this.appSettings.Altinn.ApiKey,
                            'Content-Type': 'application/octet-stream'
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        data: data,
                        xhr: function () {
                            var xhr = $.ajaxSettings.xhr();
                            xhr.upload.onprogress = function (evt) {
                                this.attachmentsStatus[vedleggIndex].uploadProgress = (evt.loaded / evt.total) * 100;
                            }.bind(this);
                            return xhr;
                        }.bind(this),
                        success: function (data, status, jqHxr) {
                            this.attachmentsStatus[vedleggIndex].isUploaded = true;
                            if (this.allAttachmentsIsAttemptedUploaded()) {
                                if (this.attachmentsHasError) {
                                    this.showErrorSummary();
                                } else {
                                    this.updateMessage();
                                }
                            }
                            this.$root.resetAltinnAuthCookieTimer();
                        }.bind(this),
                        error: function (jqHxr, textStatus, errorThrown) {
                            this.attachmentsHasError = true;
                            this.attachmentsStatus[vedleggIndex].errors.push(errorThrown);
                        }.bind(this)
                    });
                } else {
                    console.warn("Missing URL for message ID");
                }
            },

            downloadAttachmentFromUrl: function (vedlegg, vedleggIndex) {
                var _OBJECT_URL;
                var request = new XMLHttpRequest
                request.addEventListener('readystatechange', function (e) {
                    if (request.readyState == 2 && request.status == 200) {
                    }
                    else if (request.readyState == 3) {
                    }
                    else if (request.readyState == 4) {
                        _OBJECT_URL = URL.createObjectURL(request.response);
                        if (request.status == 200) {
                            this.uploadAttachment(vedlegg, request.response, vedleggIndex);
                        } else {
                            this.attachmentsStatus[vedleggIndex].errors.push(request.statusText);
                            this.attachmentsHasError = true;
                            if (this.allAttachmentsIsAttemptedUploaded()) {
                                this.showErrorSummary();
                            }
                        }

                        setTimeout(function () {
                            window.URL.revokeObjectURL(_OBJECT_URL);
                        }, 60 * 1000);
                    }
                }.bind(this));
                request.addEventListener('progress', function (e) {
                    this.attachmentsStatus[vedleggIndex].downloadProgress = (e.loaded / e.total) * 100;
                }.bind(this));
                request.responseType = 'blob';
                request.open('get', this.getVedleggUrl(vedlegg));
                //request.setRequestHeader("Authorization", "Basic " + btoa(`${authUsername}:${authPassword}`));
                request.send();
            },

            streamAttachments: function () {
                this.showAttachmentsStatusModal = true;
                if (this.samtykkeTiltakshaver && this.samtykkeTiltakshaver.Vedlegg && this.samtykkeTiltakshaver.Vedlegg.length) {
                    this.samtykkeTiltakshaver.Vedlegg.filter(function (vedlegg) {
                        return vedlegg.Navn && vedlegg.Navn !== "";
                    }).forEach(function (vedlegg, index) {
                        this.downloadAttachmentFromUrl(vedlegg, index);
                    }.bind(this))
                } else {
                    this.updateMessage();
                }
            },

            updateInternalSamtykkeTiltakshaver(messageLocationUrl) {

                // Get Altinn archive reference from message location url
                var altinnArkivreferanseRegex = /\/api\/[a-z0-9]*\/messages\/([a-z0-9]*)/i;
                var altinnArkivreferanse = altinnArkivreferanseRegex.exec(messageLocationUrl)[1];
                altinnArkivreferanse = altinnArkivreferanse.replace('b', 'AR');

                this.$emit('update-archive-reference', altinnArkivreferanse);

                var postData = {
                    Id: this.samtykkeTiltakshaver.Id,
                    Tiltakshaver: this.samtykkeTiltakshaver.Tiltakshaver,
                    AltinnArkivreferanse: altinnArkivreferanse
                };
                if (this.selectedReportee.OrganizationNumber) {
                    postData.TiltakshaverOrganisasjonsnummer = this.selectedReportee.OrganizationNumber;
                }

                $.ajax({
                    type: 'POST',
                    url: '/api/internal/samtykketiltakshaver/oppdater',
                    data: postData,
                    success: function (data, status, jqHxr) {
                        this.$emit('finished');
                    }.bind(this),
                    error: function (jqHxr, textStatus, errorThrown) {
                        console.log(jqHxr);
                    }.bind(this)
                });
            },

            updateMessage: function () {
                var postUrl = this.messageId
                    ? this.messageId
                    : null;

                if (postUrl) {
                    postUrl += '?complete=true&sign=true';

                    var postData = {
                        Type: 'FormTask',
                        ServiceCode: 5303,
                        ServiceEdition: 1
                    };

                    $.ajax({
                        type: 'PUT',
                        url: postUrl,
                        headers: {
                            'ApiKey': this.appSettings.Altinn.ApiKey,
                            'Content-Type': 'application/hal+json'
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        data: JSON.stringify(postData),
                        success: function (data, status, jqHxr) {
                            var messageLocationUrl = jqHxr.getResponseHeader('location');
                            this.updateInternalSamtykkeTiltakshaver(messageLocationUrl);
                        }.bind(this),
                        error: function (jqHxr, textStatus, errorThrown) {
                            console.log(jqHxr);
                        }.bind(this)
                    });
                }
            },

            postMessage: function () {
                var postUrl = this.selectedReportee._links && this.selectedReportee._links.messages && this.selectedReportee._links.messages.href
                    ? this.selectedReportee._links.messages.href
                    : this.appSettings.Altinn.Server + '/api/' + this.getSelectedReporteeId() + '/messages';
                postUrl += '?complete=false';

                var postData = {
                    Type: 'FormTask',
                    ServiceCode: 5303,
                    ServiceEdition: 1,
                    _embedded: {
                        forms: [
                            {
                                Type: "MainForm",
                                FormData: this.tiltakshaverSignatur,
                                DataFormatId: 6147,
                                DataFormatVersion: 44097
                            }
                        ]
                    }
                };
                $.ajax({
                    type: 'POST',
                    url: postUrl,
                    headers: {
                        'ApiKey': this.appSettings.Altinn.ApiKey,
                        'Content-Type': 'application/hal+json'
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    data: JSON.stringify(postData),
                    success: function (data, status, jqHxr) {
                        this.messageId = jqHxr.getResponseHeader('Location');
                        this.streamAttachments();
                        this.$root.resetAltinnAuthCookieTimer();
                    }.bind(this),
                    error: function (jqHxr, textStatus, errorThrown) {
                        console.log(jqHxr);
                    }.bind(this)
                });
            },
            toggleCheckedSamtykke() {
                this.$emit('update-checked-samtykke', !this.checkedSamtykke);
            },
            showErrorSummary() {
                this.$emit('finished', this.attachmentsStatus);
            },
            clickPrevious() {
                this.$emit('click-previous');
            }
        }
    };
</script>