﻿

<script type="text/x-template" id="kvittering-template">
    <div>
        <div class="margin-bottom">
            <div v-if="stepsHasError()">
                <h1 class="wizard-schema-title">Feil ved signering av samtykke</h1>
                <div class="wizard-schema-section">
                    <div v-if="attachmentsStatus && attachmentsStatus.length">
                        <b><small>Feil i vedlegg:</small></b>
                        <div v-for="attachmentStatus in attachmentsStatus">
                            <div v-if="attachmentStatus.errors && attachmentStatus.errors.length" class="block-list">
                                <div v-for="error in attachmentStatus.errors" class="list-item">
                                    <span class="title">{{attachmentStatus.attachment.Vedleggstype}} ({{ attachmentStatus.attachment.Navn }})</span>
                                    <span class="description">{{error}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <h1 class="wizard-schema-title">Du har nå gitt ditt samtykke</h1>
                <p>Samtykket er sendt til ansvarlig søker. Kopi av samtykket og søknaden med vedlegg blir lagret i ditt arkiv i Altinn, med referanse <strong>{{ archiveReference }}</strong>.</p>
                <a v-bind:href="altinnInboxReference">Trykk her for å se arkivet ditt i Altinn</a>
                <div class="wizard-schema-section">
                    <div class="textAlignCenter">
                        <h2>Ønsker du kvittering på e-post?</h2>
                        <div v-if="emailReceiptIsSent">
                            <p>Kvittering er sendt på e-post til {{this.email}}</p>
                        </div>
                        <div v-else class="input-group-btn">
                            <div class="inlineInputFields">
                                <label for="email">
                                    Din e-postadresse
                                </label>
                                <input type="text" v-model="email" id="email" />
                            </div>
                            <button
                                v-bind:disabled="!emailIsValid"
                                v-on:click="postEmail()"
                                class="linkbutton linkbutton-secondary">
                                Send meg kvittering
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wizard-schema-section">
            <div class="block block--in-group">
                Etter utlogging sendes du til Altinn, der du kan logge inn og se arkivet ditt.
            </div>
        </div>
        <div class="margin-top">
            <div class="wizard-navigation-buttons">
                <a v-bind:href="appSettings.Altinn.Server + '/ui/Authentication/Logout?languageID=1044'"
                   class="linkbutton wizard-navigation-button" style="text-align: center;">
                    Logg ut
                </a>
            </div>
        </div>
    </div>
</script>

<script>
    var Kvittering = {
        name: "Kvittering",
        template: "#kvittering-template",
        props: ['stepsHasError', 'attachmentsStatus', 'archiveReference', 'appSettings', 'samtykketiltakshaverStatus', 'checkedSamtykke'],
        data: function () {
            return {
                altinnInboxReference: `${this.appSettings.Altinn.Server}/ui/messagebox/Archive`,
                email: '',
                emailReceiptIsSent: false,
                emailHTML: ''
            };
        },
        mounted: function () {
            if (!this.checkedSamtykke) {
                this.$emit('select-step', '1');
            }
        },
        computed: {
            emailIsValid: function () {
                return this.validateEmailField(this.email);
            }
        },
        methods: {
            postEmail: function () {
                this.emailReceiptIsSent = true;

                var postData = {
                    Subject: this.renderEmailSubject(),
                    HtmlBody: this.renderEmailContent(),
                    ToEmailAddress: this.email
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/internal/samtykketiltakshaver/receipt',
                    data: postData,
                    success: function (data, status, jqHxr) {
                        this.$emit('finished');
                    }.bind(this),
                    error: function (jqHxr, textStatus, errorThrown) {
                        console.log(jqHxr);
                    }.bind(this)
                });
            },
            renderEmailSubject: function () {
                return `Samtykke til byggeplaner er sendt for ${this.getProsjektnavn()}`;
            },
            renderEmailContent: function () {
                const ansvarligSoeker = this.samtykketiltakshaverStatus && this.samtykketiltakshaverStatus.AnsvarligSoeker ? this.samtykketiltakshaverStatus.AnsvarligSoeker : 'ansvarlig søker';
                return `
                    <p>
                        Samtykket er sendt til ${ansvarligSoeker}. Kopi av samtykket og søknaden med vedlegg finner du i ditt arkiv i Altinn, med referanse ${this.archiveReference}.
                    </p>
                    <p>
                        <a href="${this.altinnInboxReference}">Trykk her for å se arkivet ditt i Altinn.</a>
                    </p>
                    <p>
                        Med vennlig hilsen </br>
                        Direktoratet for byggkvalitet på vegne av ${ansvarligSoeker}
                    </p>
                `;
            },
            validateEmailField: function (email) {
                const regex = /(?:[æøåa-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[æøåa-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@@(?:[æøåa-z0-9](?:[æøåa-z0-9-]*[æøåa-z0-9])?\.)+[æøåa-z0-9](?:[æøåa-z0-9-]*[æøåa-z0-9])?)/gm;
                return regex.exec(email) !== null;
            },
            getProsjektnavn() {
                if (this.samtykketiltakshaverStatus && this.samtykketiltakshaverStatus.Prosjektnavn) {
                    return this.samtykketiltakshaverStatus.Prosjektnavn;
                } else if (this.samtykketiltakshaverStatus && this.samtykketiltakshaverStatus.Adresselinje1) {
                    return this.samtykketiltakshaverStatus.Adresselinje1;
                } else {
                    return 'dette prosjektet'
                }
            }
        }
    };
</script>
