﻿<script type="text/x-template" id="samtykke-template">

    <div v-if="getStatus() && getStatus().length">
        <div class="margin-bottom">
            <h1 class="wizard-schema-title">Tiltakshavers samtykke til byggeplaner</h1>
            <p>Du må godkjenne byggesøknaden før den kan sendes til kommunen.</p>
            <p>Som tiltakshaver har du hovedansvaret for det som skal bygges. Du får hjelp av ansvarlig søker, som påtar seg ansvaret for byggesøknaden og all kommunikasjon med kommunens byggesaksavdeling.</p>
            <p>Forsikre deg om at du har lest alle dokumentene før du samtykker.</p>
        </div>
        <div v-if="hasStatusOpprettet()">
            <div v-if="isSafariBrowser()" class="wizard-schema-section">
                <div class="block block--in-group">
                    Tiltakshavers samtykke til byggeplaner fungerer dessverre ikke i Safari. Bytt til en annen nettleser, som Chrome, Edge eller Mozilla Firefox.
                </div>
            </div>
            <a class="linkbutton wizard-navigation-button" v-bind:href="idportenLogin">
                    <img alt="Idporten-logo" src="/Content/bower_components/dibk-fb-webcommon/assets/images/idporten-logo.png" width="20">
                    <span style="padding: 0 60px; font-size: 16px; vertical-align: top;">Logg inn</span>
                </a>
        </div>
        <div v-else class="wizard-schema-section">
            <p>Du har allerede sendt ditt samtykke til byggesøknaden for {{getProsjektnavn()}}.</p>
            <p>Samtykket er sendt til {{getAnsvarligSoeker()}}. Kopi av samtykket og søknaden med vedlegg finner du i ditt arkiv i Altinn.</p>
            <p><a v-bind:href=altinnInboxReference>Trykk her for å se arkivet ditt i Altinn.</a></p>
        </div>
    </div>
    <div v-else-if="hasRequestedStatus">
        <h1 class="wizard-schema-title">Kan ikke starte veiviser</h1>
        <p>Noe har dessverre gått galt ved nedlasting av veiviseren for tiltakshavers signatur til byggeplaner.</p>
        <p>Ta kontakt med ansvarlig søker, og be dem om å sende e-post med en ny lenke.</p>
    </div>
    <div v-else>
        <p>Henter status...</p>
    </div>

</script>

<script>
    var Samtykke = {
        name: "Samtykke",
        template: "#samtykke-template",
        props: ['appSettings', 'samtykketiltakshaverStatus', 'hasRequestedStatus'],
        data: function () {
            return {
                idportenLogin: `${this.appSettings.Altinn.Server}/Pages/ExternalAuthentication/Redirect.aspx?returnUrl=${window.location.origin}${window.location.pathname}?&steg=2`,
                altinnInboxReference: `${this.appSettings.Altinn.Server}/ui/messagebox/Archive`
            };
        },
        methods: {
            isSafariBrowser() {
                return navigator.vendor.toLowerCase().indexOf('apple') > -1;
            },
            hasStatusOpprettet() {
                return this.getStatus() === 'Opprettet';
            },
            getStatus() {
                return this.samtykketiltakshaverStatus && this.samtykketiltakshaverStatus.Status ? this.samtykketiltakshaverStatus.Status : null;
            },
            getAnsvarligSoeker() {
                return this.samtykketiltakshaverStatus && this.samtykketiltakshaverStatus.AnsvarligSoeker ? this.samtykketiltakshaverStatus.AnsvarligSoeker : 'ansvarlig søker';
            },
            getProsjektnavn() {
                if (this.samtykketiltakshaverStatus && this.samtykketiltakshaverStatus.Prosjektnavn) {
                    return this.samtykketiltakshaverStatus.Prosjektnavn;
                } else if (this.samtykketiltakshaverStatus && this.samtykketiltakshaverStatus.Adresselinje1) {
                    return this.samtykketiltakshaverStatus.Adresselinje1;
                } else {
                    return 'dette prosjektet'
                }
            }
        }
    };
</script>