﻿@section scripts{
    <script src="/Scripts/tiltakshaver.js"></script>
}
<script type="text/x-template" id="signering-template">
    <div>
        <h1 class="wizard-schema-title">Velg hvem du vil representere i byggesaken</h1>
        <div class="wizard-schema-section">
            <div class="block block--in-group">
                <div v-if="availableReportees">
                    <div v-for="reportee in availableReportees">
                        <input type="radio"
                               name="reportees"
                               v-bind:id="reportee.ReporteeId"
                               v-on:click="selectReportee(reportee)"
                               v-bind:aria-label="reportee.Name"
                               v-bind:checked="selectedReportee && selectedReportee.ReporteeId === reportee.ReporteeId" />
                        <label class="radio" v-bind:for="reportee.ReporteeId">
                            <div class="label-text">
                                <span>
                                    {{ reportee.Name }}
                                </span>
                                <span v-if="reportee.OrganizationNumber" class="label-text-sub-title">
                                    Org.nr. {{reportee.OrganizationNumber}}
                                </span>
                            </div>
                            <img v-bind:src="getReporteeImageUrl(reportee)" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="wizard-navigation-buttons">
            <button v-on:click="clickNext()"
                    v-bind:disabled="!selectedReportee"
                    class="linkbutton wizard-navigation-button button-arrow-right">
                Neste
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script>
    var Signering = {
        name: "Signering",
        template: "#signering-template",
        props: ['appSettings', 'availableReportees', 'selectedReportee'],
        data: function () {
            return {
                samtykkeTiltakshaver: null
            };
        },
        mounted: function () {
            this.getSamtykkeTiltakshaver();
        },
        methods: {
            getSamtykkeTiltakshaver: function () {
                var regex = /(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}/i;
                var guid = regex.exec(window.location.pathname)[0];
                if (guid) {
                    $.ajax({
                        url: window.location.origin + '/api/internal/samtykketiltakshaver/' + guid,
                        success: function (data, status, jqHxr) {
                            this.samtykkeTiltakshaver = data;
                        }.bind(this),
                        error: function (jqHxr, textStatus, errorThrown) {
                            console.log(jqHxr);
                        }.bind(this)
                    });
                }
            },
            getReporteeImageUrl(reportee) {
                const foretakImage = '/Content/images/temp_foretak.png';
                const personImage = '/Content/images/temp_person.png';
                switch (reportee.Type) {
                    case 'Enterprise':
                    case 'Foretak':
                    case 'Føretak':
                        return foretakImage;
                    case 'Business':
                    case 'Bedrift':
                        return foretakImage;
                    case 'Person':
                        return personImage;
                    default:
                        return '';
                }
            },
            selectReportee(reportee) {
                this.$emit('select-reportee', reportee);
            },
            clickNext() {
                this.$emit('click-next');
            }
        }

    };
</script>
