﻿@using System.Configuration;

@{
    ViewBag.Title = "Tiltakshavers samtykke til byggeplaner";
    Layout = "~/Views/Shared/_LayoutWiz.cshtml";
}

@* Step components *@
@Html.Partial("Tiltakshaver/_Samtykke")
@Html.Partial("Tiltakshaver/_Signering")
@Html.Partial("Tiltakshaver/_Erklaering")
@Html.Partial("Tiltakshaver/_Kvittering")

<script>
    var appSettings = {
        Altinn: {
            ApiKey: '@ConfigurationManager.AppSettings["Altinn.ApiKey"]',
            Server: '@ConfigurationManager.AppSettings["AltinnServer"]'
        }
    };
</script>

<div id="vue-tiltakshaver">
    <section class="header-section">
        <div class="header-background-image"></div>
        <div>
            <div class="container">
                <div class="navigation">
                    <a href="/">
                        <img class="mobile-logo" src="~/Content/bower_components/dibk-fb-webcommon/assets/images/dibk_logo_mob.svg">
                        <img class="desktop-logo" src="~/Content/bower_components/dibk-fb-webcommon/assets/images/DiBk_logo_rgb.svg">
                    </a>
                    <a v-if="availableReportees" class="wizard-navigation-bar-button" v-bind:href="signOutUrl">
                        Logg ut
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div id="vue-container" class="container general-container">
            <div>
                <div v-if="selectedReportee" class="reportee-info">
                    <span>Du representerer {{selectedReportee && selectedReportee.Name ? selectedReportee.Name : ''}}</span>
                </div>
            </div>
            <div class="wizard-container-topnav">
                <div>
                    <nav class="wizard-topnav">
                        <div class="wizard-topnav-item"
                             v-bind:class="{active: activeStepNumber === stepNumber, finished: activeStepNumber > stepNumber, 'has-errors': step.hasErrors}"
                             v-for="(step, stepNumber) in steps">
                            <span class="wizard-topnav-item-content">
                                <span class="step-number">{{ getStepNumberLabel(stepNumber) }}</span>
                                <span class="step-name">{{ step.name }}</span>
                            </span>
                        </div>
                    </nav>
                </div>
                <div class="modal" v-if="availableReportees && altinnAuthCookieTimerIsExceeded">
                    <div class="modal-content">
                        <h2 class="modal-header">
                            Er du fortsatt her?
                        </h2>
                        <p>Om du ikke er her vil du snart bli logget ut av sikkerhetsmessige hensyn</p>
                        <button class="linkbutton wizard-navigation-button" v-on:click="fetchReportees()">
                            Jeg er her
                        </button>
                    </div>
                </div>
                <main class="wizard-schema">
                    <div v-if="guid">
                        <div v-if="activeStepNumber === '1'">
                            <div is="Samtykke"
                                 v-bind:app-settings="appSettings"
                                 v-bind:service-code="serviceCode"
                                 v-bind:service-edition="serviceEdition"
                                 v-bind:samtykketiltakshaver-status="samtykketiltakshaverStatus"
                                 v-bind:has-requested-status="hasRequestedStatus">
                            </div>
                        </div>
                        <div v-if="activeStepNumber === '2'">
                            <div is="Signering"
                                 v-bind:app-settings="appSettings"
                                 v-bind:available-reportees="availableReportees"
                                 v-bind:selected-reportee="selectedReportee"
                                 v-bind:service-code="serviceCode"
                                 v-bind:service-edition="serviceEdition"
                                 v-on:select-reportee="setSelectedReportee($event)"
                                 v-on:select-step="setActiveStepNumber($event)"
                                 v-on:click-next="setActiveStepNumber('3')">
                            </div>
                        </div>
                        <div v-if="activeStepNumber === '3'">
                            <div is="Erklaering"
                                 v-bind:app-settings="appSettings"
                                 v-bind:available-reportees="availableReportees"
                                 v-bind:selected-reportee="selectedReportee"
                                 v-bind:guid="guid"
                                 v-bind:service-code="serviceCode"
                                 v-bind:service-edition="serviceEdition"
                                 v-bind:checked-samtykke="checkedSamtykke"
                                 v-on:click-previous="setActiveStepNumber('2')"
                                 v-on:update-archive-reference="updateArchiveReference($event)"
                                 v-on:select-step="setActiveStepNumber($event)"
                                 v-on:update-checked-samtykke="setCheckedSamtykke($event)"
                                 v-on:finished="steps[3].hasErrors = $event ? true : false; attachmentsStatus = $event; setActiveStepNumber('4')">
                            </div>
                        </div>
                        <div v-if="activeStepNumber === '4'">
                            <div is="Kvittering"
                                 v-bind:steps-has-error="stepsHasError"
                                 v-bind:attachments-status="attachmentsStatus"
                                 v-bind:archive-reference="archiveReference"
                                 v-bind:checked-samtykke="checkedSamtykke"
                                 v-bind:app-settings="appSettings"
                                 v-on:select-step="setActiveStepNumber($event)"
                                 v-bind:samtykketiltakshaver-status="samtykketiltakshaverStatus">
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <h1 class="wizard-schema-title">Kan ikke starte veiviser</h1>
                        <p>Mangler verdi for guid</p>
                    </div>

                    <div class="vertical-spacer-50"></div>
                </main>
            </div>
        </div>
    </section>
</div>




@section scripts{
    <script src="/Scripts/tiltakshaver.js"></script>
}