﻿@using KommIT.FIKS.AdapterAltinnSvarUt.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/bower_components/dibk-fb-webcommon/assets/images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>@ViewBag.Title - DIBK Fellestjenester Bygg</title>
    @Styles.Render("~/Content/bower_components/dibk-fb-webcommon/assets/css/styles")
</head>
<body>
    <section class="header-section">
        <div class="header-background-image"></div>

        <div class="general-container">
            <div class="container">
                <div class="navigation">

                    <a href="/">
                        <img class="mobile-logo" src="~/Content/bower_components/dibk-fb-webcommon/assets/images/dibk_logo_mob.svg">
                        <img class="desktop-logo" src="~/Content/bower_components/dibk-fb-webcommon/assets/images/DiBk_logo_rgb.svg">
                    </a>
                    <nav id="main-menu" class="navigaton-bar">
                        <ul>
                            @if (Request.IsAuthenticated && !User.IsInRole(ApplicationRole.SystemIntegrator))
                            {
                                <li><a href='@Url.Action("Index", "FormSettings")'>KOMMUNEOPPSETT</a></li>
                                <li><a href='@Url.Action("Index", "Log")'>LOGG</a></li>
                            }
                            @if (User.IsInRole(ApplicationRole.Administrator))
                            {
                                <li>
                                    <a class="content-toggle" data-content-toggle="dropdown-admin" href="#">ADMIN</a>
                                    <div id="dropdown-admin" class="toggleableContent">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <ul>
                                                    <li><a href='@Url.Action("ManageLogins", "Manage")'>Brukere</a></li>
                                                    <li><a href='@Url.Action("ManageClientSystems", "ClientSystem")'>Klientsystem</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <ul>
                                                    <li><a href='@Url.Action("Index", "DistributionStatus")'>Forsendelsesstatus</a></li>
                                                    @if (Html.HangfireEnabled())
                                                    {
                                                        <li><a href='@Url.Action("Index", "ProcessShipment")'>Forsendelse overstyring</a></li>
                                                    }                                                    
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <ul>
                                                    @if (Html.HangfireEnabled())
                                                    {
                                                        <li><a href="/hangfire">Hangfire dashboard</a></li>
                                                    }
                                                    @if (Html.HangfireEnabled())
                                                    {
                                                        <li><a href='@Url.Action("Index", "Shipping")'>Start prosessering</a></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-lg-3"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole(ApplicationRole.SystemIntegrator))
                            {
                                <li><a href='@Url.Action("Index", "ApiAuthentication")'>API Konfigurasjon</a></li>
                            }

                            @Html.Partial("_LoginPartial")
                        </ul>
                    </nav>
                    <i id="menu-toggle" class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>

    @if (TempData[ApplicationMessage.Key] != null)
    {
        ApplicationMessage message = (ApplicationMessage)TempData[ApplicationMessage.Key];

        <div class="alert alert-@message.MessageType">
            @message.Message
        </div>
    }

    <section>
        <div id="vue-container" class="container general-container">
            @RenderBody()
        </div>
    </section>


    <section>
        <footer>
            <div class="container body-content container-footer">
                <div class="general-container">
                    <div class="row">
                        <div class="col-sm-4 footertext">
                            <p><h2>Kontakt oss</h2></p>
                            <ul>
                                <li><a href="https://dibk.no/om-oss/Kontakt-oss/">Kontakt oss</a></li>
                                <li>E-post: <a style="font-size: 1em; line-height: 1em;" title="Henvendelser om fortolkning av regelverk og generelle spørsmål kan rettes til post@dibk.no" href="mailto:post@dibk.no">post@dibk.no</a></li>
                                <li>Byggsøk: <a style="font-size: 1em; line-height: 1em;" title="Spørsmål om Byggsøk? Send en epost til brukerstøtte" href="mailto:byggsok@dibk.no">byggsok@dibk.no</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 footertext">
                            <p><h2>Postadresse</h2></p>
                            <ul>
                                <li>Postboks 8742 Youngstorget</li>
                                <li>0028 OSLO</li>
                            </ul>
                            <p><h2>Besøksadresse</h2></p>
                            <ul>
                                <li>Mariboes gate 13 0183 OSLO</li>
                                <li>Hunnsvegen 5 2821 GJØVIK</li>
                            </ul>

                        </div>
                        <div class="col-sm-4 footertext">
                            <p><h2>Fellestjenester bygg</h2></p>
                            <ul>
                                <li><a href="https://dibk.no/verktoy-og-veivisere/andre-fagomrader/fellestjenester-bygg/">Om fellestjenester bygg</a></li>
                                <li>E-post kundestøtte: <a href="mailto:fellestjenesterbygg@dibk.no">fellestjenesterbygg@dibk.no</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="margin-top">
                        <p class="pull-right">Versjon: @Html.ApplicationVersionNumber()</p>
                        <p>&copy; @DateTime.Now.Year - Direktoratet for byggkvalitet </p>
                    </div>
                </div>

            </div>
        </footer>
    </section>

    @Scripts.Render("~/Content/bower_components/dibk-fb-webcommon/assets/js/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
