﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <li>
            @Html.ActionLink("Brukerprofil", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logg ut</a></li>
    }
}
else
{
    <li>@Html.ActionLink("Logg inn", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
