﻿@{
    ViewBag.Title = "Kjøring av forsendelser";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>

<div id="shipping">
    <label for="serviceOwners" style="display: inline-block">Velg tjenesteeier</label>
    <div id="serviceOwners">
        <input type="radio" v-model="serviceOwner" id="dibk" name="serviceOwner" value="dibk">
        <label style="display: inline-block" for="dibk">DIBK</label><br>
        <input type="radio" v-model="serviceOwner" id="atil" name="serviceOwner" value="atil">
        <label style="display: inline-block" for="atil">Arbeidstilsynet</label><br>
    </div>
    <br />
    <div>
        <input type="checkbox" v-model="forcedProcessing" id="force" value="true" />
        <label style="display: inline-block">Prossesér uansett køstatus (Vis varsomhet: leter etter skjema i Altinn DownloadQueue, finnes det ikke der lastes det ned direkte fra Altinn.)</label>
    </div>
    <br />
    <div>
        <label style="display: inline-block">Arkivreferanse<input type="text" v-model="archiveReference" v-on:keyup.enter="shipMe()" /></label>
        <button v-on:click="shipMe()" class="button-small linkbutton" style="position: static">Behandl skjema</button>
        <div style="display: inline-block" v-if="message">{{ message }}</div>
    </div>
</div>


@section scripts{
    <script>
        var app = new Vue({
            el: '#shipping',
            data: {
                archiveReference: null,
                message: null,
                serviceOwner: "dibk",
                forcedProcessing: false
            },
            methods: {
                shipMe: function () {
                    if (this.archiveReference) {
                        this.message = null;

                        var url = '/api/shipping/' + this.serviceOwner + '/' + this.archiveReference + '/' + this.forcedProcessing;

                        axios.post(url).then(function (response) {
                            this.message = response.data;
                        }.bind(this)).catch(function (error) {
                            this.message = error.response.data;
                        }.bind(this))
                    }
                    else
                        this.message = 'Anngi arkivreferanse';
                }
            }
        });

                //var app2 = new Vue({
                //    el: '#normalShipping',
                //    data: {
                //        archiveReference: null,
                //        message: null,
                //        serviceOwner: null
                //    },
                //    methods: {
                //        shipMe: function () {
                //            if (this.archiveReference) {
                //                this.message = null;

                //                axios.post('/api/shipping/' + this.serviceOwner + '/' + this.archiveReference + '/false').then(function (response) {
                //                    this.message = response.data;
                //                }.bind(this)).catch(function (error) {
                //                    this.message = error.response.data;
                //                }.bind(this))
                //            }
                //            else
                //                this.message = 'Anngi arkivreferanse';
                //        }
                //    }
                //});
    </script>
}