﻿<div class="header row">
    <div class="heading col-md-12">
        <h1>Fellestjenester bygg</h1>
    </div>
</div>

@if (User.IsInRole("systemintegrator"))
{
    <p><a href="/swagger">Mer informasjon om status API</a></p>
}
else
{
    <p>Denne applikasjonen inneholder:</p>
    <ul>
        <li><a href="https://sjekkliste-bygg.ft.dibk.no">Nasjonale sjekklister for byggesak</a></li>
        <li>Administrasjon av fellestjenester bygg</li>

    </ul>
}

