﻿@using KommIT.FIKS.AdapterAltinnSvarUt.Models

@{
    ViewBag.Title = "Oversikt";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="row">

   
    <div class="clearfix"></div>
</div>


