﻿@using KommIT.FIKS.AdapterAltinnSvarUt.Models.ViewModels
@using KommIT.FIKS.AdapterAltinnSvarUt.Models
@using KommIT.FIKS.AdapterAltinnSvarUt.Models.ApiModels
@model LogDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>Hendelser for @Model.ArchiveReference</h1>
    </div>
</div>

<h2>@Model.SvarUtDocumentTitle</h2>

@if (!string.IsNullOrEmpty(Model.GetReceiver()))
{
    <p>Sendes til: <b>@Model.GetReceiver()</b></p>
}
<p>Arkivert i Altinn: @Model.ArchiveTimestamp</p>
<p>Skjematype: @Model.FormType</p>

@if (Model.SvarUtShippingTimestamp != null)
{
    <div class="panel panel-success">
        <div class="panel-heading">Sendt til SvarUt: @Model.SvarUtShippingTimestamp</div>
        <div class="panel-body">
            <p>ForsendelsesId: @Model.SvarUtForsendelsesId</p>
            <p>Status på forsendelsen: @Model.SvarUtStatus</p>
        </div>
    </div>
}
@if (Model.MunicipalityArchiveCaseYear > 0)
{
    <p>Kommunens saksnummer: <b>@Model.MunicipalityArchiveCaseYear/@Model.MunicipalityArchiveCaseSequence</b></p>
}
@if (!string.IsNullOrEmpty(Model.DistributionRecieptLink))
{
    <p>Kvitteringsrapport: <a href="@Model.DistributionRecieptLink">Vis</a></p>
}

<h3>Hendelser</h3>
<ul class="event-log">
    @foreach (LogEntry logEntry in Model.Log)
    {
        <li>
            <span class="timestamp"><b>@logEntry.Timestamp.ToString("dd/MM/yyyy HH:mm:ss")</b></span>
            <span class="message">@logEntry.Message</span>
            @if (!String.IsNullOrEmpty(logEntry.Url))
            {
                <a target="_blank" href="@logEntry.Url">Vis</a>
            }
        </li>
    }
</ul>

@if (Model.Distribusjoner != null && Model.Distribusjoner.Count > 0)
{
    <h3>Distribusjon</h3>
    <ul class="event-log">
        @foreach (Distribusjon dist in Model.Distribusjoner)
        {
        <li>
            <span class="timestamp">@dist.Distribusjonstype  @dist.Status @dist.ReferanseSluttbrukersystem @dist.ReferanseOpprinneligDistribusjonSluttbrukersystem</span>
            <span class="message">Sendt: @dist.ReferanseIdSendt - @dist.Sendt, Signert: @dist.ReferanseIdSignert - @dist.Signert, Kvittering: @dist.ReferanseIdKvittering - @dist.SendtKvittering,  @dist.Feilmelding</span>

            <ul>
                @foreach (FilInformasjonForNedlasting file in dist.Filnedlastinger)
                {
                    <li>
                        <span class="message">@file.Filbeskrivelse</span>
                        <span class="message">- Filnavn: </span><a href="@file.FilURL">@file.Filnavn</a>                 
                    </li>
                }
                </ul>
        </li>
        }
    </ul>
}

@if (Model.Vilkaar != null)
{
    <h3>Vilkår</h3>
    <ul class="event-log">
        @foreach (Vilkaar vlk in Model.Vilkaar)
        {
            <li>
                <span class="timestamp"><b>@vlk.VilkaarID @vlk.VilkaarTilProsess</b></span>
                <span class="message">@vlk.Beskrivelse</span>

            </li>
        }
    </ul>
}

@Html.ActionLink("Tilbake", "Index", "Log")