﻿@using KommIT.FIKS.AdapterAltinnSvarUt.Models
@model LogViewModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Logg";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="row">

    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12 form-horizontal">
        @using (Html.BeginForm("Index", "Log", FormMethod.Get))
            {
            <div class="input-group">
                @Html.TextBox("filter", ViewBag.CurrentFilter as string)
               
            </div>
            <span class="input-group-btn" style="float: right; margin-top: 10px;"><input type="submit" value="Søk" class="linkbutton" title="Søk på arkivreferanse, kommunenavn, nummer eller skjemadata" /></span>
            <div class="clearfix"></div>
        }
    </div>
    <div class="clearfix"></div>
</div>

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="event-log">
            @foreach (LogByArchiveReferenceViewModel logByArchive in Model.log)
            {
            <li>

                @if (logByArchive.Status != "Ok")
                {
                    <p class="timestamp"><span class="label label-warning">@logByArchive.Status</span> <a href="@Url.Action("Details", new { archivereference = logByArchive.ArchiveReference })">@logByArchive.ArchiveReference, @logByArchive.FormType,  @logByArchive.Recipients, @logByArchive.SenderApplication, @logByArchive.SenderType</a></p>

                }
                else
                {
                    <p class="timestamp"><span class="label label-default">@logByArchive.Status</span> <a href="@Url.Action("Details", new { archivereference = logByArchive.ArchiveReference })">@logByArchive.ArchiveReference, @logByArchive.FormType,  @logByArchive.Recipients, @logByArchive.SenderApplication, @logByArchive.SenderType</a></p>
                }
                <p class="message">@logByArchive.ArchiveTimestamp  -  (@logByArchive.ServiceCode - @logByArchive.ServiceEditionCode)</p>

            </li>
            }
        </ul>
    </div>
    <div class="clearfix"></div>
</div>



    @*Side @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))*@

