﻿@model ConfirmAccountViewModel
@using System.Web.UI.HtmlControls
@using KommIT.FIKS.AdapterAltinnSvarUt.Resources

<h2>@Web.ConfirmAccountHeading</h2>
<div>
    <p>@Web.ConfirmAccountSetNewPasswordHelpText</p>
</div>

@using (Html.BeginForm("ConfirmAccount", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    var userId = Request.Params["userId"];

    @Html.HiddenFor(m => m.userId, userId)

    <div class="form-group row">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@Web.ConfirmAccountBtnCreateNewPassword" />
        </div>
    </div>
}
