﻿@model KommIT.FIKS.AdapterAltinnSvarUt.Models.RegisterViewModel
@{
    ViewBag.Title = "Rediger bruker";
    string adminChecked = "";
    string userChecked = "checked";
    string systemIntegratorChecked = "";

    if (Model.Role == "administrator")
    {
        adminChecked = "checked";
        userChecked = "";
        systemIntegratorChecked = "";
    }
    else if (Model.Role == "user")
    {
        adminChecked = "";
        userChecked = "checked";
        systemIntegratorChecked = "";
    }
    else if (Model.Role == "systemintegrator")
    {
        adminChecked = "";
        userChecked = "";
        systemIntegratorChecked = "checked";
    }
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

@using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserId)
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessage("emailAlreadyTaken")
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="radio" name="Role" value="administrator" @adminChecked /> Administrator <br />
                <input type="radio" name="Role" value="user" @userChecked /> Kommunebruker <br />
                <input type="radio" name="Role" value="systemintegrator" @systemIntegratorChecked /> Systemintegrator
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label for="Municipalities" class="col-md-2 control-label">Municipalities</label>
            <div class="col-md-10">
                <div class="input-group chosen-input-group">
                    @Html.ListBox("Municipalities", (MultiSelectList)ViewBag.Municipalities)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label for="ClientSystem" class="col-md-2 control-label">Klient system</label>
            <div class="col-md-10">
                <div class="input-group chosen-input-group">
                    @Html.ListBox("ClientSystems", (SelectList)ViewBag.ClientSystem)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="linkbutton" value="Lagre" />
            </div>
        </div>
    </div>

}

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#Municipalities").chosen();
            @foreach(var m in ViewBag.MunicipalitiesSelected) {
            @:$("#Municipalities option[value='@m']").prop("selected", 1);
            }
            $('#Municipalities').trigger('chosen:updated');

            $("#ClientSystems").chosen();
            @foreach(var m in ViewBag.ClientSystemSelected) {
            @:$("#ClientSystems option[value='@m']").prop("selected", 1);
            }
            $('#ClientSystems').trigger('chosen:updated');
        });
    </script>
}
