﻿@{
    ViewBag.Title = "Glemt passord kvittering";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vennligst sjekk din epost for å oppdatere passord.
    </p>
</div>
	
