﻿@model KommIT.FIKS.AdapterAltinnSvarUt.Models.RegisterViewModel
@{
    ViewBag.Title = "Ny bruker";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Opprett ny brukerkonto</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="radio" name="Role" value="administrator" /> Administrator <br />
                <input type="radio" name="Role" value="user" checked /> Kommunebruker  <br />
                <input type="radio" name="Role" value="systemintegrator" /> Systemintegrator
            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="row">
                <label for="Municipalities" class="col-md-2 control-label">Kommuner</label>
                <div class="col-md-10">
                    <div class="input-group chosen-input-group">
                        @Html.ListBox("Municipalities", (MultiSelectList)ViewBag.Municipalities, new { data_placeholder = "Klikk for å velge kommuner" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="linkbutton" value="Register" />
                </div>
            </div>
        </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#Municipalities").chosen();
        });
    </script>
}
