﻿@model KommIT.FIKS.AdapterAltinnSvarUt.Models.Municipality
@{
    ViewBag.Title = "Rediger organisasjonsnummer";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

@using (Html.BeginForm("Edit", "Municipality", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    <p><b>Kommunenummer:</b> @Model.Code</p>
    <p><b>Kommunenavn:</b> @Html.DisplayFor(model => model.Name)</p>
    <p><b>Organisasjonsnummer:</b>@Html.EditorFor(model => model.OrganizationNumber)</p>
    @Html.ValidationMessageFor(model => model.OrganizationNumber, "", new { @class = "text-danger" })
    <p><b>Organisasjonsnummer planavdelingen:</b>@Html.EditorFor(model => model.PlanningDepartmentSpecificOrganizationNumber)</p>
    @Html.ValidationMessageFor(model => model.PlanningDepartmentSpecificOrganizationNumber, "", new { @class = "text-danger" })
    <p>Legg inn det organisasjonsnummer som skal brukes for å sende via SvarUt/SvarInn. </p>
    <input type="submit" value="Lagre" class="pull-right linkbutton button-small" />
    <div class="clearfix"></div>
}

