﻿@using KommIT.FIKS.AdapterAltinnSvarUt.Models
@model KommIT.FIKS.AdapterAltinnSvarUt.Models.IndexViewModel
@{
    ViewBag.Title = "Innstillinger";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Instillinger for brukerkonto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Passord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Endre passord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Roller:</dt>
        <dd>
            <ul>
                @foreach (var role in Model.Roles)
                {
                    <li>@role</li>
                }
            </ul>
        </dd>
    </dl>
</div>
@if (ViewBag.Municipalities != null)
{   <div><label>Kommuner:</label></div>
    <div>
        @foreach (var municipality in (List<Municipality>)ViewBag.Municipalities)
        {
            <ul class="dibk-list">
                <li>@Html.ActionLink(municipality.Name,"Forms", "FormSettings", new { municipalityCode = @municipality.Code }, null)</li>
            </ul>
        }
    </div>
}
