﻿@model KommIT.FIKS.AdapterAltinnSvarUt.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Administrer brukere";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>

<a href="@Url.Action("Register", "Account")" class="btn btn-primary">Ny bruker</a>

@{
        if (Model.Users.Count > 0)
        {
            <h4>Brukere</h4>
            
            <table class="table">
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                @using (Html.BeginForm("Edit", "Account"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div>
                                        @Html.Hidden("userId", user.UserName)
                                        <input type="submit" class="btn btn-default" value="Rediger" />
                                    </div>
                                }
                            </td>
                            <td>
                                @using (Html.BeginForm("RemoveLogin", "Manage", FormMethod.Post, new {onsubmit = $"return confirm('Vil du slette bruker {user.UserName} ?');" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div>
                                        @Html.Hidden("userId", user.UserName)
                                        <input type="submit" class="btn btn-default" value="Slett"/>
                                    </div>
                                } 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
}
