﻿@model MunicipalitySettingsViewModel
@{
    ViewBag.Title = "Kommuneoppsett";
    ViewBag.PageHeader = "Rediger oppsett for " + Model.Municipality.Name + " kommune";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Oppsett forsendelse</h3>
    </div>
    <div class="panel-body">
        <p><b>Kommunenummer:</b> @Model.Municipality.Code</p>
        <p><b>Kommunenavn:</b> @Model.Municipality.Name</p>
        <p><b>Organisasjonsnummer:</b> @Model.Municipality.OrganizationNumber</p>
        <p><b>Organisasjonsnummer planavdelingen:</b> @Model.Municipality.PlanningDepartmentSpecificOrganizationNumber</p>
        <p><b>Nytt kommunenummer:</b> @Model.Municipality.NewMunicipalityCode</p>
        <p><b>Gyldig fra:</b> @Model.Municipality.ValidFrom</p>
        <p><b>Gyldig til:</b> @Model.Municipality.ValidTo</p>
        <p>Oppsettet benyttes for å sende forsendelse gjennom SvarUt til riktig organisasjonsnummer. </p>


        <p>
            <a href="@Url.Action("Edit","Municipality", new {municipalityCode = Model.Municipality.Code})" class="linkbutton button-small">Rediger organisasjonsnummer</a>
        </p>

    </div>
</div>


