﻿@using KommIT.FIKS.AdapterAltinnSvarUt.Models.ViewModels
@model List<MunicipalityViewModel>
@{
    ViewBag.Title = "Kommuneoppsett";
    ViewBag.PageHeader = "Administrer kommuneoppsett - velg kommune";
}

<ul class="dibk-list">
    @foreach (MunicipalityViewModel municipality in Model)
    {
        <li>@Html.ActionLink($"{municipality.Name} - {municipality.Code}", "Forms", new { municipalityCode = @municipality.Code })</li>
    }
</ul>