﻿@model KommIT.FIKS.AdapterAltinnSvarUt.Models.ViewModels.ApiAuthenticationViewModel
@{
    ViewBag.Title = "Api tilgang";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

@using (Html.BeginForm("Index", "ApiAuthentication", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Opprett/ oppdater ny API brukerkonto</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "" })
            </div>
        </div>
    </div>
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Password, new { @class = "" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="linkbutton" value="Registrer" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
}
