﻿@model KommIT.FIKS.AdapterAltinnSvarUt.Models.ViewModels.ClientSystemAdministrationViewModel
@{
    ViewBag.Title = "Administrer klienter";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>

<a href="@Url.Action("RegisterSystem", "ClientSystem")" class="btn btn-primary">Nytt system</a>

@{
        if (Model.ClientSystems.Count > 0)
        {
            <table class="clients">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Informasjon</th>
                        <th>Identifikatorer</th>
                        <th></th>
</thead>
                <tbody>
                    @foreach (var system in Model.ClientSystems)
                    {
                        <tr>
                            <td width="200px">@system.DisplayName</td>
                            <td>@system.Description</td>
                            <td>@system.Identifiers</td>
                            <td>
                                @using (Html.BeginForm("EditSystem", "ClientSystem"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div>
                                        @Html.Hidden("systemKey", system.SystemKey)
                                        <input type="submit" class="btn btn-default" value="Rediger" />
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
}
