﻿@model KommIT.FIKS.AdapterAltinnSvarUt.Models.ViewModels.ClientSystemViewModel
@{
    ViewBag.Title = "Nytt klient system";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

@using (Html.BeginForm("PostSystem", "ClientSystem", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Opprett nytt klient system</h4>
    <hr />
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.SystemKey, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.SystemKey, new { @class = "" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.DisplayName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Description, new { @class = "" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Identifiers, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Identifiers, new { @class = "" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="linkbutton" value="Register" />
            </div>
        </div>
    </div>
}