﻿ul.event-log {
    list-style-type: none;
    padding: 0;
}

    ul.event-log li {
        padding: 5px;
        border-bottom: lightgrey 1px solid;
    }

        ul.event-log li:nth-child(odd) {
            background-color: rgb(242, 241, 240);
        }

    ul.event-log .timestamp {
        font-weight: bold;
    }

.field-validation-error {
    color: red;
}

.clients {
    
    width: 100%;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    line-break: anywhere;
    padding-left: 10px;
    padding-right: 10px;
}

/* Sortable.js */
#sortable-items {
}

.sortable-item {
    padding: 2px;
    transition: all .2s;
    border: 1px solid transparent;
    height: 42px;
    counter-increment: step-counter;
    margin-bottom: 4px;
}


    .sortable-item .item-container {
        border: 2px solid #f2f1f0;
        display: block;
        padding: 8px;
    }

    .sortable-item:hover .item-container {
        cursor: move;
        background-color: #F2F1F0;
    }

.sortable-ghost .item-container {
    background-color: transparent !important;
    color: transparent;
    border: 2px solid #f2f1f0;
}

.sortable-ghost * {
    opacity: 0;
}

.sortable-chosen .item-container {
    background-color: #F2F1F0;
}

#sortable-items .title-separator {
    float: right;
    width: 20px;
    text-align: center;
    margin-top: -3px;
}

#sortable-items .index-number:before {
    font-size: 10px;
    vertical-align: text-top;
    margin: -10px -2px 0px -6px;
    display: inline-block;
    content: counter(step-counter);
}



.modal-show {
    cursor: pointer;
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.48);
    left: 0;
    top: 0;
    z-index: 2;
    padding-top: 200px;
    text-align: center;
    display: none;
}

    .modal .modal-content {
        text-align: left;
        background-color: #FFF;
        padding: 16px;
        display: inline-block;
        margin: auto;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
        min-width: 350px;
    }

        .modal .modal-content .modal-header {
            display: block;
            margin-bottom: 12px;
        }

            .modal .modal-content .modal-header .modal-close {
                float: right;
                margin-top: -15px;
                margin-right: -10px;
                cursor: pointer;
            }

                .modal .modal-content .modal-header .modal-close:before {
                    content: "\f00d";
                    display: block;
                    font-family: FontAwesome;
                    color: #777;
                }




        .modal .modal-content input {
            width: 100%;
            margin-bottom: 8px;
        }

        .modal .modal-content .btn {
            float: right;
            margin-bottom: 0;
            margin-right: 0;
            cursor: pointer;
        }



.select2-container {
    position: static;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #e5e3e1;
    border-radius: 0;
    height: 35px;
}

    .select2-container--default .select2-selection--single:focus {
        border-color: #00757F;
        outline: none;
    }

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #e5e3e1;
}


    .select2-container--default .select2-search--dropdown .select2-search__field:focus {
        border-color: #00757F;
        outline: none;
    }

    .select2-dropdown {
        border-radius: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 30px;
        font-size: 13px;
        border: 1px solid #C6C6C4;
    }

   
    /* Dropdown liste */
    .select2-container--default .select2-results>.select2-results__options {
        font-size: 13px;
    }
    
    /* Dropdown listeelement */
    .select2-results__option[aria-selected] {
        line-height: 7px; 
    }

    /* Dropdown listeelement (markert) */
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
     
    }

   #ja-utfall, #nei-utfall  {
       display: inline-block;
  }

   #fixed-header {
       width: inherit;
   }

   #fixed-header-items {
       font-weight: bold;
    }

    #fixed-header-items div:last-child {
        padding-right: 0;
        padding-left: 0;
        width: 8.2%;
    }

   .fa .fa-info-circle {
       color: #00757F;
   }

   #categoryDropdown > .select-wrapper::before {
       right: 25px;
       top: 18px;
   }

   #categoryDropdown > .select-wrapper {
       padding-top: 5px;
   }

   #fixed-header-container > .row {
       border-left: 3px solid #fff;
    }

   #fixed-header-container > .row:hover {
       border-color: #E5E3E1;
    }
    

.expand-arrow {
    padding-left: 15px;
}

.expand-arrow:before {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f054";
    -ms-transition: -ms-transform .2s;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;

}

.expand-arrow.active:before {
     -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.row label {
    display: inline-block;
}


.alert-danger {
    text-align: center;
    margin-bottom: 4px;
 }

#categoryDropdown p, #categoryDropdown {
    padding-left: 0px;
}

.row p {
    margin-top: 0;
}


.mainlistitem {
    margin-top: 2px;
    border-left: 3px solid #00757f;
    border-bottom: 1px solid #f2f1f0;
    padding-right: 15px;
    padding-left: 15px;
}  
.sublistitem {
    margin-top: 2px;
    margin-left: 10px;
    
} 
.listitem-header {
    background: #00676f ;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
} 

.article-header {
    border-top: 1px solid #8aaec3;
    border-bottom: 1px solid #8aaec3;
    padding: 10px 0;
}

.page-header-container {
    padding-top: 60px;
}

label {
  color: initial;
  display: block;
  margin: 0; 
  font-weight: normal;
  padding: 0px;
  border: 0px none;
  vertical-align: baseline;
  }

.navigation {
    margin-right: -15px;
    margin-left: -15px;
}

#vue-checklist  .col-xs-1,
#vue-checklist  .col-xs-2,
#vue-checklist  .col-xs-3 {
    padding-left: 15px;
    
}

#vue-checklist {
    font-size: 14px;
    overflow: hidden;
}

#vue-checklist .button-small  {
    cursor: pointer;
    position: relative;
    top: 17px;
}

#vue-checklist .select2-container--default
.select2-container--focus
.select2-selection--multiple {
  border: 1px solid #00757F;
}

#vue-checklist .select2-container--default
.select2-selection--multiple {
    border-radius: 0;
    border: 1px solid #E5E3E1;
    cursor: pointer;
}

.loading-animation:before {
    content: url("/Content/images/Spin.svg");
    display: block;
}

.loading-animation {
    z-index: 6;
    position: fixed;
    background-repeat: no-repeat;
    background-position: 50% 15px;
    background-color: #fff;
    top: 40%;
    height: auto;
    width: 200px;
    border: 1px solid #ddd;
    padding: 15px;
    color: #666;
    margin: auto;
    display: block;
    left: 40%;
    left: calc(50% - 100px);
    text-align: center;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
}

#filter-container {
    overflow: hidden;
}

.button-small.linkbutton {
    position: relative;
    bottom: -17px;
}

#resultButton {
    position: relative;
    left: 590px;
    display: initial;
}

#resultText {
    padding: 8px;
}