﻿.navigation{
    margin: 0;
}

.header-section .fa.fa-bars:before {
    top: 16px;
    right: 16px;
}

.wizard-navigation-bar-button {
    display: inline-block;
    position: absolute;
    right: 57px;
    top: 7px;
    background-color: #f2f1f0;
    color: #222222;
    padding: 6px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: filter .3s ease-out, -webkit-filter .3s ease-out;
    text-decoration: none;
}

    .wizard-navigation-bar-button:hover {
        filter: brightness(90%);
        -webkit-filter: brightness(90%);
    }


@media only screen and (min-width: 641px) {
    .header-section .fa.fa-bars:before {
        top: 23px;
        right: 23px;
    }
    .wizard-navigation-bar-button {
        right: 71px;
        top: 13px;
        padding: 9px 30px;
        font-size: 18px;
    }
}


.wizard-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    background-image: linear-gradient(164deg,rgba(137,174,196,0.34),white,rgba(0,117,127,0.19));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}

.wizard-container-topnav {
    display: block;
}

    .wizard-container-topnav .wizard-schema {
        max-width: 830px;
        margin: auto;
    }

    .wizard-navigation-buttons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .wizard-navigation-buttons .wizard-navigation-button {
        min-width: 30%;
        font-size: 18px;
        -webkit-transition: background 0.1s ease-in-out;
        transition: background 0.1s ease-in-out;
    }

        .wizard-navigation-buttons .wizard-navigation-button:hover,
        .wizard-navigation-buttons .wizard-navigation-button:focus {
            background: #072938;
        }

    .wizard-navigation-buttons .wizard-navigation-button-previous {
        margin-right: auto;
        margin-left: 0;
    }

        .wizard-navigation-buttons .wizard-navigation-button-previous:before {
            content: ' ';
            display: inline-block;
            position: absolute;
            left: 1em;
            right: auto;
            top: calc(50% - 0.4rem);
            width: 0.5rem;
            height: 0.5rem;
            vertical-align: middle;
            -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
            border: 2px solid white;
            border-width: 2px 2px 0 0;
            margin-right: 1em;
        }



        .wizard-navigation-buttons .wizard-navigation-button-previous:hover:before,
        .wizard-navigation-buttons .wizard-navigation-button-previous:focus:before {
            -webkit-animation: pushprev 0.8s linear infinite;
            animation: pushprev 0.8s linear infinite;
        }

    .wizard-navigation-buttons .wizard-navigation-button-next {
        margin-right: 0;
        margin-left: auto;
    }

        .wizard-navigation-buttons .wizard-navigation-button-next:after {
            content: ' ';
            display: inline-block;
            position: absolute;
            left: auto;
            right: 1em;
            top: calc(50% - 0.4rem);
            width: 0.5rem;
            height: 0.5rem;
            vertical-align: middle;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            border: 2px solid white;
            border-width: 2px 2px 0 0;
            margin-left: 1em;
        }

        .wizard-navigation-buttons .wizard-navigation-button-next:hover:after,
        .wizard-navigation-buttons .wizard-navigation-button-next:focus:after {
            -webkit-animation: pushnext 0.8s linear infinite;
            animation: pushnext 0.8s linear infinite;
        }


.wizard-sidebar {
    width: 340px;
    padding: 30px 20px 20px;
    margin: 0 20px 0 10px;
    background: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.18);
    overflow: hidden;
}



    .wizard-sidebar .wizard-sidebar-header {
        cursor: pointer;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f1f0;
        font-size: 24px;
        line-height: 1.2;
    }

        .wizard-sidebar .wizard-sidebar-header:before {
            content: 'Steg';
            display: block;
            color: gray;
            text-transform: uppercase;
            -webkit-letter-spacing: 0.05em;
            -moz-letter-spacing: 0.05em;
            -ms-letter-spacing: 0.05em;
            letter-spacing: 0.05em;
            font-weight: 300;
            font-size: 0.9rem;
            margin-bottom: 0.3em;
        }

    .wizard-sidebar .linkbutton {
        cursor: pointer;
        display: block;
        width: 100%;
        font-size: 18px;
        margin-bottom: 10px;
    }

        .wizard-sidebar .linkbutton:hover {
            background: #072938;
            color: white;
        }

        .wizard-sidebar .linkbutton.linkbutton-secondary {
            border: 1px solid #e5e3e1;
            color: #00757F;
            background: #FFF;
        }

            .wizard-sidebar .linkbutton.linkbutton-secondary:hover {
                background: #e5e3e1;
                color: #00757F;
            }

    .wizard-sidebar .wizard-sidebar-item {
        background: white;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: background 0.1s ease-in-out;
        transition: background 0.1s ease-in-out;
        color: black !important;
        cursor: pointer;
    }

        .wizard-sidebar .wizard-sidebar-item:last-of-type {
            margin-bottom: 30px;
        }

        .wizard-sidebar .wizard-sidebar-item div {
            color: inherit;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-self: stretch;
            -ms-flex-item-align: stretch;
            align-self: stretch;
            min-width: 2.4em;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-transition: background 0.1s ease-in-out;
            transition: background 0.1s ease-in-out;
            overflow: hidden;
            max-width: 100%;
        }

        .wizard-sidebar .wizard-sidebar-item p {
            -webkit-flex-grow: 1;
            -ms-flex-grow: 1;
            flex-grow: 1;
            font-weight: 300;
            padding: 0 20px;
            line-height: 1.3;
            font-size: 16px;
        }

        .wizard-sidebar .wizard-sidebar-item span {
            text-decoration: underline;
            color: #00757F;
            font-size: 14px;
            line-height: 1.8;
            font-weight: normal;
            display: block;
            padding: 0;
        }

        .wizard-sidebar .wizard-sidebar-item:hover {
            background: #f2f1f0;
        }

        .wizard-sidebar .wizard-sidebar-item.active {
            background: #f2f1f0;
        }

            .wizard-sidebar .wizard-sidebar-item.active div {
                color: white;
                background: #072938;
            }

            .wizard-sidebar .wizard-sidebar-item.active p {
                font-weight: bold;
            }

            .wizard-sidebar .wizard-sidebar-item.active span {
            }

.wizard-topnav {
    display: flex;
    margin: 20px;
}

    .wizard-topnav .wizard-topnav-item {
        flex: 1;
    }

        .wizard-topnav .wizard-topnav-item .wizard-topnav-item-content {
        }

        .wizard-topnav .wizard-topnav-item:last-child .wizard-topnav-item-content:before {
            width: 0;
        }

        .wizard-topnav .wizard-topnav-item .wizard-topnav-item-content:before {
            display: inline-block;
            content: ' ';
            height: 18px;
            background-color: #e2e1e0;
            width: 100%;
            left: 50%;
            position: relative;
            margin-bottom: -33px;
        }



        .wizard-topnav .wizard-topnav-item .wizard-topnav-item-content .step-number {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: block;
            text-align: center;
            background-color: #e2e1e0;
            margin: auto;
            position: relative;
            font-size: 20px;
        }



        .wizard-topnav .wizard-topnav-item .wizard-topnav-item-content .step-name {
            display: block;
            text-align: center;
        }

        .wizard-topnav .wizard-topnav-item.active {
        }

            .wizard-topnav .wizard-topnav-item.active .wizard-topnav-item-content .step-number {
                background-color: #072938;
                color: #fff;
            }

            .wizard-topnav .wizard-topnav-item.active .wizard-topnav-item-content .step-name {
            }

        .wizard-topnav .wizard-topnav-item.finished {
        }

            .wizard-topnav .wizard-topnav-item.finished .wizard-topnav-item-content:before {
                background-color: #00757F;
            } 

            .wizard-topnav .wizard-topnav-item.finished .wizard-topnav-item-content .step-number {
                background-color: #00757F;
                color: #fff;
            }

            .wizard-topnav .wizard-topnav-item.finished .wizard-topnav-item-content .step-name {
            }

        .wizard-topnav .wizard-topnav-item.has-errors {
        }

            .wizard-topnav .wizard-topnav-item.has-errors .wizard-topnav-item-content:before {
                background-color: #c1272d;
            }

            .wizard-topnav .wizard-topnav-item.has-errors .wizard-topnav-item-content .step-number {
                background-color: #c1272d;
                color: #fff;
            }


.wizard-schema {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px 30px 0;
}

    .wizard-schema .wizard-schema-title {
        font-family: "Altis-Light","Altis","Open Sans",arial,sans-serif;
        font-size: 50px;
        font-weight: 300;
        margin: 0 0 30px;
        line-height: 1.2;
    }

    .wizard-schema .wizard-schema-description {
        font-family: "Altis-Light","Altis","Open Sans",arial,sans-serif;
        font-weight: 300;
        font-size: 22px;
        line-height: 1.4;
        margin: 16px 0 40px;
    }

    .wizard-schema .wizard-schema-section {
        position: relative;
        padding: 30px 33px 36px;
        padding: 20px;
        margin: 20px 0;
        width: 100%;
        background: white;
        box-shadow: 0 2px 3px rgba(0,0,0,0.18);
    }

        .wizard-schema .wizard-schema-section .wizard-schema-section-title {
            font-family: "Open Sans",arial,sans-serif;
            font-size: 24px;
            margin: 0 0 10px;
            line-height: 1.3;
        }

label {
    cursor: pointer;
}

label.radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px #072938;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 10px;
    background: #fff;
}

    label.radio .label-text {
        flex: 1;
        line-height: 20px;
    }

        label.radio .label-text .label-text-sub-title {
            display: block;
            font-size: .9em;
        }

    label.radio img {
        width: 104px;
    }

input[type="radio"] + label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px #072938;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    vertical-align: baseline;
}

input[type="radio"] {
    margin: 0 0 1rem 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

    input[type="radio"] + label:before {
        content: ' ';
        display: block;
        vertical-align: middle;
        min-width: 10px;
        width: 10px;
        height: 10px;
        background: white;
        margin-right: 10px;
        border-radius: 50%;
        border: 0.3em solid white;
        box-shadow: 0 0 0 1px #afaba8;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    input[type="radio"]:not(:disabled):checked + label {
        box-shadow: 0 0 0 1px #072938, 0 0 4px 0 #072938;
        background: #f0f2cb;
    }

        input[type="radio"]:not(:disabled):checked + label:before {
            background: #00757F;
            box-shadow: 0 0 0 1px #072938;
        }

.wizard-result-rule {
    padding: 8px 0;
}

    .wizard-result-rule .wizard-result-rule-value {
    }

    .wizard-result-rule .wizard-result-rule-description {
        font-size: 14px;
        font-style: italic;
    }

.block--in-group {
    position: relative;
    padding: 20px 24px 20px;
    margin: 0;
    width: 100%;
    background: #ecf2f6;
    box-shadow: none;
}

.block-list {
}

    .block-list .list-item,
    .table-list .list-item {
        padding: 10px 0;
        margin: 0 0 5px;
        border-top: 1px solid #f2f1f0;
        display: flex;
        max-width: 704px;
    }

        .block-list .list-item .icon {
            width: 30px;
            border: 1px solid;
            margin-right: 20px;
        }

        .block-list .list-item .title {
            flex: 1;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }

        .block-list .list-item .info-primary {
            flex: 1;
        }

        .block-list .list-item .info-secondary {
            color: #D7D4D1;
            margin-left: 10px;
        }

        .table-list .list-item.table-title {
            padding: 0;
        }

        .table-list .list-item > span {
            flex: 1;
        }


.modal-show {
    cursor: pointer;
}

.has-errors > .progress-bar, .table-list.has-errors .list-item > * {
    flex: none;
}

.list-item.has-errors {
    display: block;
}

.has-errors .progress-bar {
    background-color: #c1272d;
    color: #fff;
    opacity: .5;
    width: 100% !important;
}

.has-errors .error-message {
    color: #c1272d;
}

.progress-bar {
    background-color: #ecf2f6;
    overflow: visible;
    padding: 4px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

    .progress-bar.finished {
        background-color: #93f698;
    }

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.48);
    left: 0;
    top: 0;
    z-index: 2;
    padding-top: 200px;
    text-align: center;
    display: block;
}


    .modal .modal-content {
        text-align: left;
        background-color: #FFF;
        padding: 16px;
        display: inline-block;
        margin: auto;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
        min-width: 350px;
    }

        .modal .modal-content .modal-header {
            display: block;
            margin-bottom: 12px;
        }

.linkbutton:not(:disabled) {
    cursor: pointer;
}

.linkbutton.linkbutton-secondary {
    background-color: #f2f1f0;
    color: #00757f;
    transition: filter .3s ease-out,-webkit-filter .3s ease-out;
}

    .linkbutton.linkbutton-secondary:hover {
        background-color: #f2f1f0;
        color: #00757f;
    }

    .linkbutton.linkbutton-secondary:not(:disabled):hover {
        -webkit-filter: brightness(90%);
        filter: brightness(90%);
    }





.button-arrow-left::after, .linkbutton.button-arrow-left::after, .button-arrow-right::after, .linkbutton.button-arrow-right::after {
    right: 0;
}

.button-arrow-right, .linkbutton.button-arrow-right, a.linkbutton.button-arrow-right {
    margin-left: auto;
}


.reportee-info {
    background-color: #fff;
    border-bottom: 1px solid #dadada;
    text-align: right;
    padding: 4px 20px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 73px;
}

.clickable-text {
    text-decoration: underline;
    cursor: pointer;
}

.textAlignCenter {
    text-align: center;
}
    .textAlignCenter label {
        text-align: left;
        display: block;
    }


.inlineInputFields {
    display: inline-block;
    margin-right: 12px;
}
