﻿@{
    ViewBag.Title = "Forsendelsesstatus";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div id="distributionstatus">
        <label style="display: inline-block">Arkivreferanse<input type="text" v-model="archiveReference" v-on:keyup.enter="getStatus()" /></label>
        <button v-on:click="getStatus()" class="button-small linkbutton" style="position: static">Hent status</button>
        <div v-if="hasResults">
            Resultat
        </div>
        <div id="statusResponse">
        </div>
        <div v-if="errorMessage">{{ errorMessage }}</div>
    </div>
</div>

@section scripts{
    <script>
        var app = new Vue({
            el: '#distributionstatus',
            data: {
                archiveReference: null,
                errorMessage: null,
                hasResults: false
            },
            methods: {
                getStatus: function () {
                    if (this.archiveReference) {
                        axios.get('/api/distributionstatus/' + this.archiveReference).then(function (response) {
                            var json = response && response.data ? JSON.parse(response.data) : null;
                            var reponseContainer = document.getElementById("statusResponse");
                            reponseContainer.innerHTML = null;
                            if (json) {
                                this.errorMessage = null;
                                this.hasResults = true;
                                var jsonViewer = new JSONViewer();
                                reponseContainer.appendChild(jsonViewer.getContainer());
                                jsonViewer.showJSON(json, -1, 5);
                            } else {
                                this.errorMessage = 'Fant ingen forekomster';
                                this.hasResults = false;
                            }
                        }.bind(this))
                    }
                    else {
                        this.errorMessage = 'Anngi arkivreferanse';
                        this.hasResults = false;
                        var reponseContainer = document.getElementById("statusResponse");
                        reponseContainer.innerHTML = null;
                    }
                }
            }
        })
    </script>
    <script src="~/Content/JSONViewer/json-viewer.js">
    </script>

}